<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService2" sendTimeout="00:05:00" />
                <binding name="BasicHttpBinding_IService3" sendTimeout="00:05:00" />
                <binding name="BasicHttpBinding_IService"  sendTimeout="00:05:00" />
                <binding name="BasicHttpBinding_IService1" sendTimeout="00:05:00" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://at2lb-1773871903.us-east-1.elb.amazonaws.com/Nano/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService2"
                contract="AwsNANO.IService" name="BasicHttpBinding_IService2" />
            <endpoint address="http://at2lb-1773871903.us-east-1.elb.amazonaws.com/Micro/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService3"
                contract="AwsMICRO.IService" name="BasicHttpBinding_IService3" />
            <endpoint address="http://at2lb-1773871903.us-east-1.elb.amazonaws.com/Small/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="AwsSMALL.IService" name="BasicHttpBinding_IService" />
            <endpoint address="http://localhost:50804/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="LocalWCF.IService"
                name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>
